/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("eot"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../sass/style.scss */
body {
  font-family: "Open Sans",sans-serif;
  font-size: 62.5%;
  text-align: center;
}

/* line 20, ../sass/style.scss */
.hero {
  background: url("/images/telstra.png");
  background-size: cover;
  color: white;
  width: 100em;
  height: 30em;
  margin: 0 auto;
  border: 0;
  border-radius: 1em 1em 0 0;
}
/* line 29, ../sass/style.scss */
.hero header {
  padding-top: 2em;
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../sass/style.scss */
.hero header img {
  width: 8em;
  height: 2em;
  float: left;
}
/* line 36, ../sass/style.scss */
.hero header ul {
  float: right;
}
/* line 38, ../sass/style.scss */
.hero header ul li {
  float: left;
  margin: 0 .5em;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* line 44, ../sass/style.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 51, ../sass/style.scss */
.hero h1 {
  font-size: 3em;
  padding: 1em 0 .5em 0;
  font-weight: bold;
}
/* line 56, ../sass/style.scss */
.hero h2 {
  font-size: 2em;
  color: #d9dada;
}
/* line 60, ../sass/style.scss */
.hero form {
  padding: 2em 0 3em;
}
/* line 62, ../sass/style.scss */
.hero form input[type="text"] {
  padding: 1em;
  margin: 0;
  border: 0;
  width: 18em;
  border-radius: 2px 0 0 2px;
  background: #efefef;
  opacity: .3;
}
/* line 71, ../sass/style.scss */
.hero form input[type="button"] {
  padding: 1em;
  margin: 0;
  width: 6em;
  color: white;
  border: 0;
  border-radius: 0 2px 2px 0;
  text-transform: uppercase;
  background-color: #6cdcac;
}

/* line 85, ../sass/style.scss */
.numbers {
  width: 100em;
  margin: 0 auto;
  background-color: #efefef;
}
/* line 89, ../sass/style.scss */
.numbers ul {
  position: relative;
  width: 80%;
  margin: 0 auto;
  top: -5em;
  background: #efefef;
  overflow: hidden;
  *zoom: 1;
}
/* line 95, ../sass/style.scss */
.numbers ul li.number {
  width: 25%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #d9dada;
}
/* line 100, ../sass/style.scss */
.numbers ul li.number h2 {
  font-size: 2em;
  padding: 1em 0;
  color: #3c3d46;
}
/* line 105, ../sass/style.scss */
.numbers ul li.number h3 {
  padding-bottom: 2em;
  color: #3f3f3f;
}

/* line 114, ../sass/style.scss */
.how-it-works {
  width: 100em;
  margin: 0 auto;
  padding-bottom: 5em;
  border-bottom: 0.2em solid #b5b3b1;
  background-color: #efefef;
}
/* line 121, ../sass/style.scss */
.how-it-works h2 {
  width: 10em;
  padding: 1em 0;
  margin: 0 auto;
  font-size: 2em;
  text-transform: uppercase;
  color: #3c3d46;
}
/* line 129, ../sass/style.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #b5b3b1;
  width: 7em;
  height: .1em;
  margin: .3em auto;
}
/* line 137, ../sass/style.scss */
.how-it-works h2:hover:after {
  background-color: #eca961;
}
/* line 141, ../sass/style.scss */
.how-it-works ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 144, ../sass/style.scss */
.how-it-works li {
  width: 33.3%;
  float: left;
  position: relative;
  text-align: center;
}
/* line 150, ../sass/style.scss */
.how-it-works li:before {
  display: block;
  content: "";
  height: .2em;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 5.6em;
  margin: 0 1.7em;
  background-color: #b5b3b1;
}
/* line 161, ../sass/style.scss */
.how-it-works li:last-child:before {
  display: none;
}
/* line 165, ../sass/style.scss */
.how-it-works li .detail .number {
  width: 1em;
  height: 1em;
  display: block;
  padding: .3em;
  margin: 2em auto 3em;
  font-size: 2em;
  color: #b5b3b1;
  border: 1px solid #b5b3b1;
  background-color: #efefef;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 177, ../sass/style.scss */
.how-it-works li .detail i {
  font-size: 3.6em;
}
/* line 180, ../sass/style.scss */
.how-it-works li .detail .icon-list:before {
  font-family: "icomoon";
  content: '\e9bb';
  color: #eca961;
}
/* line 185, ../sass/style.scss */
.how-it-works li .detail .icon-pencil:before {
  font-family: "icomoon";
  content: '\e905';
  color: #ad9ede;
}
/* line 190, ../sass/style.scss */
.how-it-works li .detail .icon-user:before {
  font-family: "icomoon";
  content: "\e972";
  color: #539ac8;
}
/* line 195, ../sass/style.scss */
.how-it-works li .detail h3 {
  padding: 1.5em 0 0 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #3c3d46;
}
/* line 201, ../sass/style.scss */
.how-it-works li .detail p {
  padding: 1rem;
  line-height: 1.5;
  color: #3f3f3f;
}

/* line 210, ../sass/style.scss */
.why-choose-us {
  width: 100em;
  margin: 0 auto;
  padding: 5em 0;
  border-bottom: 0.2em solid #b5b3b1;
  background-color: #efefef;
}
/* line 217, ../sass/style.scss */
.why-choose-us h2 {
  width: 10em;
  padding: 1em 0;
  margin: 0 auto;
  font-size: 2em;
  text-transform: uppercase;
  color: #3c3d46;
}
/* line 225, ../sass/style.scss */
.why-choose-us ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 226, ../sass/style.scss */
.why-choose-us ul li {
  width: 50%;
  box-sizing: border-box;
  padding: 2em;
  float: left;
}
/* line 232, ../sass/style.scss */
.why-choose-us ul li i {
  font-size: 2em;
  display: block;
  float: left;
}
/* line 237, ../sass/style.scss */
.why-choose-us ul li .icon-checkmark:before {
  font-family: "icomoon";
  content: '\ea10';
  color: #6ebe96;
}
/* line 242, ../sass/style.scss */
.why-choose-us ul li .icon-price-tag:before {
  font-family: "icomoon";
  content: '\e935';
  color: #1eb5e8;
}
/* line 247, ../sass/style.scss */
.why-choose-us ul li .icon-loop2:before {
  font-family: "icomoon";
  content: '\ea2e';
  color: #eca961;
}
/* line 252, ../sass/style.scss */
.why-choose-us ul li .icon-user:before {
  font-family: "icomoon";
  content: '\e971';
  color: #ae7dc3;
}
/* line 257, ../sass/style.scss */
.why-choose-us ul li .icon-file-text:before {
  font-family: "icomoon";
  content: '\e922';
  color: #f17082;
}
/* line 262, ../sass/style.scss */
.why-choose-us ul li .icon-point-up:before {
  font-family: "icomoon";
  content: '\ea03';
  color: #eb805f;
}
/* line 267, ../sass/style.scss */
.why-choose-us ul li .why-item {
  width: 80%;
  float: left;
  padding-left: 2em;
}
/* line 271, ../sass/style.scss */
.why-choose-us ul li .why-item h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  color: #3c3d46;
}
/* line 278, ../sass/style.scss */
.why-choose-us ul li .why-item p {
  padding-top: 1em;
  text-align: left;
  line-height: 1.5;
  color: #3f3f3f;
}

/* line 290, ../sass/style.scss */
.comment {
  width: 100em;
  margin: 0 auto;
  padding: 5em 0;
  background-color: #efefef;
}
/* line 296, ../sass/style.scss */
.comment .btn-group span {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  width: 12em;
  text-transform: capitalize;
  font-size: 1.5em;
  border: 1px solid transparent;
}
/* line 305, ../sass/style.scss */
.comment .btn-group span:first-child {
  border-radius: 3px 0 0 3px;
  background-color: #60687b;
  color: white;
}
/* line 310, ../sass/style.scss */
.comment .btn-group span:nth-child(2) {
  border: 1px solid #60687b;
  border-radius: 0 3px 3px 0;
}
/* line 315, ../sass/style.scss */
.comment h3 {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 600;
  color: #3c3d46;
}
/* line 324, ../sass/style.scss */
.comment .photos {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 328, ../sass/style.scss */
.comment .photos .photo-item {
  width: 33%;
  float: left;
  text-transform: capitalize;
}
/* line 333, ../sass/style.scss */
.comment .photos .photo-item:before {
  display: block;
  content: '';
  width: 30%;
  height: .2em;
  margin: 0 auto;
  background-color: #b5b3b1;
}
/* line 341, ../sass/style.scss */
.comment .photos .photo-item h3 {
  padding: 1em;
}
/* line 344, ../sass/style.scss */
.comment .photos .photo-item p {
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  color: #3f3f3f;
}
/* line 350, ../sass/style.scss */
.comment .photos .photo-item .img {
  width: 80%;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid #b5b3b1;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 356, ../sass/style.scss */
.comment .photos .photo-item .img img {
  width: 100%;
  height: 14em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

/* line 366, ../sass/style.scss */
.bottom-form {
  width: 100em;
  padding: 5em 0;
  margin: 0 auto;
  background: url("../images/telstra-green.png");
  background-size: cover;
  color: white;
}
/* line 376, ../sass/style.scss */
.bottom-form form span {
  font-size: 2em;
  display: inline-block;
  margin-right: .5em;
}
/* line 381, ../sass/style.scss */
.bottom-form form input[type="text"] {
  padding: 1em;
  margin: 0;
  border: 0;
  width: 35em;
  border-radius: 2px 0 0 2px;
  background: #efefef;
}
/* line 390, ../sass/style.scss */
.bottom-form form input[type="button"] {
  padding: 1em;
  margin: 0;
  width: 6em;
  color: white;
  border: 0;
  border-radius: 0 2px 2px 0;
  text-transform: uppercase;
  background-color: #6cdcac;
}

/* line 404, ../sass/style.scss */
.foot {
  width: 100em;
  margin: 0 auto;
  background-color: #efefef;
  border: 0;
  border-radius: 0 0 1em 1em;
}
/* line 410, ../sass/style.scss */
.foot footer {
  padding: 4em 10em;
  overflow: hidden;
  *zoom: 1;
}
/* line 414, ../sass/style.scss */
.foot ul.foot-item {
  float: left;
  font-size: 1.5em;
}
/* line 418, ../sass/style.scss */
.foot ul.foot-item li {
  color: #3f3f3f;
  float: left;
  width: 6em;
  cursor: pointer;
}
/* line 425, ../sass/style.scss */
.foot ul.foot-share {
  float: right;
}
/* line 427, ../sass/style.scss */
.foot ul.foot-share li {
  float: left;
  width: 4em;
  cursor: pointer;
}
/* line 431, ../sass/style.scss */
.foot ul.foot-share li i {
  font-size: 2em;
}
/* line 435, ../sass/style.scss */
.foot ul.foot-share li .icon-twitter:before {
  font-family: "icomoon";
  content: '\ea96';
  color: #6ebe96;
}
/* line 440, ../sass/style.scss */
.foot ul.foot-share li .icon-facebook:before {
  font-family: "icomoon";
  content: '\ea90';
  color: #1eb5e8;
}
